@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
*::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "sans-serif";
  background-color: #f2f2f2;
}

.inverted-5 {
  background: conic-gradient(from -135deg, transparent 0 90deg, #93CC1D 0), conic-gradient(from -135deg, #93CC1D 0 90deg, transparent 0);
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  background-size: 200% 100%;
  background-position: right;
  background-color: transparent;
  transition: 0.5s;
}
.inverted-5:hover {
  background-position: center;
  color: #f2f2f2 !important;
  background-color: #93CC1D !important;
}
.inverted-5:hover i {
  color: white;
}

.inverted-7 {
  background: linear-gradient(-45deg, #000 40%, #fff 0 60%, #000 0) right/300% 100% no-repeat, linear-gradient(-45deg, rgba(0, 0, 0, 0) 40%, #000 0 60%, rgba(0, 0, 0, 0) 0) right/300% 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.8s;
}
.inverted-7:hover {
  background-position: left;
}

.nav-hover {
  --c: #4864EE; /* the color */
  background: linear-gradient(90deg, #fff 50%, var(--c) 0) calc(100% - var(--_p, 0%))/200% 100%, linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
  padding: 0.2rem;
}
.nav-hover:hover {
  --_p: 100%;
}
.nav-hover.active {
  --_p: 100%;
}

.gallery {
  --s: 150px; /* control the size */
  --g: 10px; /* control the gap */
  --f: 1.5; /* control the scale factor */
  display: grid;
  gap: var(--g);
  width: calc(3 * var(--s) + 2 * var(--g));
  aspect-ratio: 1;
  grid-template-columns: repeat(3, auto);
}
.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(80%);
  transition: 0.35s linear;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.8);
}
.gallery img:hover {
  filter: grayscale(0);
  width: calc(var(--s) * var(--f));
  height: calc(var(--s) * var(--f));
}
.gallery img.active {
  filter: grayscale(0);
  width: calc(var(--s) * var(--f));
  height: calc(var(--s) * var(--f));
}

.rotating-text {
  position: relative;
  width: 100%;
}

.text {
  opacity: 0;
  position: absolute;
  left: 0;
  top: -4rem;
}
@media (max-width: 768px) {
  .text {
    top: 2rem;
  }
}
.text.active {
  animation: text-appear 0.5s ease-in-out forwards;
}

@keyframes text-appear {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.accordion {
  width: 100%;
}

.accordion-item {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #ddd;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  background-color: #fff;
  padding: 10px;
  display: none;
}

.toggler {
  width: 2rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
}
.toggler .bar {
  width: 100%;
  height: 0.5rem;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: transform 0.5s ease-in-out;
}
.toggler .bar:nth-child(1) {
  top: 0;
}
.toggler .bar:nth-child(1).active {
  transform: translateY(1.2rem) rotate(45deg);
}
.toggler .bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.toggler .bar:nth-child(2).active {
  animation: toRight 0.4s ease-in-out forwards;
}
@keyframes toRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
  }
}
.toggler .bar:nth-child(3) {
  bottom: 0;
}
.toggler .bar:nth-child(3).active {
  transform: translateY(-1.2rem) rotate(-45deg);
}

.nav {
  background-color: transparent;
  height: 5rem;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background 0.5s ease-in-out;
}
.nav.active {
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  background-color: #2b41c1;
}
.nav .nav-content {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-content .logo {
  width: 15rem;
}
.nav .nav-content .logo-mobile {
  display: none;
}
@media (max-width: 768px) {
  .nav .nav-content .logo {
    display: none;
  }
  .nav .nav-content .logo-mobile {
    display: block;
    width: 4rem;
  }
}
.nav .nav-content .menu-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  -moz-column-gap: 0.4rem;
       column-gap: 0.4rem;
}
@media (max-width: 768px) {
  .nav .nav-content .menu-nav {
    opacity: 0;
    position: absolute;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.nav .nav-content .menu-nav.active {
  opacity: 1;
  top: 5rem;
  pointer-events: unset;
}
.nav .nav-content .menu-nav li {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
}
@media (max-width: 768px) {
  .nav .nav-content .menu-nav li {
    height: 5rem;
    width: 80%;
  }
  .nav .nav-content .menu-nav li.active a {
    color: #fff;
  }
}
.nav .nav-content .menu-nav li a {
  color: #f2f2f2;
  font-size: 2rem;
  text-decoration: none;
}
@media (max-width: 768px) {
  .nav .nav-content .menu-nav li a {
    color: #555;
  }
}
.nav .nav-content .menu-nav li .contato {
  margin-left: 7rem;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.6rem;
  color: #93cc1d;
  background-color: #f2f2f2;
  padding: 0.5rem 1rem;
}
@media (max-width: 768px) {
  .nav .nav-content .menu-nav li .contato {
    margin-left: unset;
    position: absolute;
    top: 5rem;
    padding: 1.4rem 2rem;
  }
}
.nav .nav-content .menu-nav li .contato:active {
  transform: scale(0.9);
}
.nav .nav-content .toggler {
  display: none;
}
@media (max-width: 768px) {
  .nav .nav-content .toggler {
    display: block;
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
}

#home {
  padding-top: 10rem;
  background: url(../img/bbblurry.svg) no-repeat, url(../img/llline.svg) no-repeat, url(../img/ruido.png), linear-gradient(50deg, #2b41c1, #4864ee);
  background-attachment: fixed;
  height: 69rem;
}
@media (min-width: 1466px) {
  #home {
    height: 75rem;
    background: url(../img/bbblurry.svg) no-repeat, url(../img/ruido.png), linear-gradient(50deg, #2b41c1, #4864ee);
  }
}
@media (max-width: 768px) {
  #home {
    background: url(../img/ruido.png), linear-gradient(50deg, #2b41c1, #4864ee);
    height: 49rem;
  }
}
#home .home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  #home .home-content {
    grid-template-columns: unset;
    place-items: center;
  }
}
#home .home-content .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
#home .home-content .left-side .paragraph {
  box-sizing: border-box;
  text-align: center;
  font-size: 2.8rem;
  color: #fff;
  padding: 0 1rem;
}
#home .home-content .left-side .paragraph .yellow {
  color: #c19002;
  text-decoration: underline;
}
#home .home-content .left-side .paragraph .blue {
  color: #4864ee;
  text-decoration: underline;
}
#home .home-content .left-side .paragraph .orange {
  color: #f38519;
  text-decoration: underline;
}
#home .home-content .left-side .social {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media screen and (max-width: 768px) {
  #home .home-content .left-side .social {
    bottom: -35rem;
  }
}
#home .home-content .left-side .social .social-item {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: background 0.4s ease-in-out;
}
@media screen and (max-width: 768px) {
  #home .home-content .left-side .social .social-item:nth-child(1) {
    background: #3a5795;
    background: linear-gradient(to bottom, #3a5795 0%, #2b4886 100%);
  }
}
#home .home-content .left-side .social .social-item:nth-child(1):hover {
  background: #3a5795;
  background: linear-gradient(to bottom, #3a5795 0%, #2b4886 100%);
}
@media screen and (max-width: 768px) {
  #home .home-content .left-side .social .social-item:nth-child(2) {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  }
}
#home .home-content .left-side .social .social-item:nth-child(2):hover {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
#home .home-content .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 768px) {
  #home .home-content .right-side {
    display: none;
  }
}
@media (max-width: 768px) {
  #home .home-content {
    grid-template-columns: 1fr;
  }
}

#sobre {
  background-color: #f2f2f2;
}
#sobre .sobre-content p {
  box-sizing: border-box;
  text-align: center;
  font-size: 1.8rem;
  text-justify: distribute-all-lines;
  text-rendering: optimizeLegibility;
  text-align: justify;
  font-family: "rawline", helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #555;
  line-height: 1.75;
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: normal;
  vertical-align: baseline;
}
#sobre .sobre-content p.start {
  text-align: start;
}
#sobre .sobre-content .accordion {
  margin-top: 6rem;
}
#sobre .sobre-content .contato {
  width: 30rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sobre .sobre-content .contato .btn-contato {
  outline: none;
  border: none;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #f0c808;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
#sobre .sobre-content .contato .btn-contato:hover {
  background-color: #2b41c1;
}
#sobre .sobre-content .contato .btn-contato::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 0.5rem solid #fff;
  transition: all 0.3s ease-in-out;
}
#sobre .sobre-content .contato .btn-contato:hover::after {
  border-left: 0.5rem solid #2b41c1;
}

#galeria .galeria-content .galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
  gap: 1rem;
}
@media screen and (max-width: 390px) {
  #galeria .galeria-content .galeria {
    grid-template-columns: 1fr;
  }
}
#galeria .galeria-content .galeria .galeria-item {
  width: 100%;
  height: 30rem;
  position: relative;
  cursor: pointer;
}
#galeria .galeria-content .galeria .galeria-item:hover .item-hover {
  opacity: 1;
  height: 40%;
  pointer-events: auto;
}
#galeria .galeria-content .galeria .galeria-item .item-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(59, 59, 59, 0.8);
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: height 0.3s ease-in-out;
  transform-origin: bottom top;
}
#galeria .galeria-content .galeria .galeria-item .item-hover div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#galeria .galeria-content .galeria .galeria-item .item-hover div i {
  font-size: 5.2rem;
  color: #93cc1d;
  margin-bottom: 1rem;
}
#galeria .galeria-content .galeria .galeria-item .item-hover div span {
  color: #fff;
  font-size: 1.6rem;
}
#galeria .galeria-content .galeria .galeria-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#footer {
  padding: 4rem 0 1rem 0;
}
#footer .footer .footer-content {
  display: flex;
  justify-content: center;
}
#footer .footer .footer-content .footer-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #555;
  font-size: 1.6rem;
}
#footer .footer .footer-content .footer-left img {
  margin-left: auto;
  margin-right: auto;
}
#footer .footer .copy {
  font-family: "rawline", helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #555;
  line-height: 1.75;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}
#footer .footer .copy .rise {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  text-decoration: none;
  color: #555;
  margin-top: 0.5rem;
}
#footer .footer .copy .rise img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

section {
  padding: 10rem 0;
}

h4.title {
  font-size: 3.2rem;
  font-weight: 700;
  color: #4864ee;
  margin-bottom: 2rem;
}

.modal {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.4s ease-in-out;
}
.modal.show {
  opacity: 1;
  top: 5rem;
  pointer-events: auto;
}
.modal .modal-prev, .modal .modal-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 1rem;
  color: #fff;
  background-color: transparent;
  font-size: 5.2rem;
  outline: none;
  border: none;
}
.modal .modal-prev:active, .modal .modal-next:active {
  transform: translateY(-50%) scale(1.1);
}
.modal .modal-prev {
  left: 1rem;
}
.modal .modal-next {
  right: 1rem;
}
.modal .modal-content {
  max-width: 100%;
  max-height: 80%;
  margin: auto;
  display: block;
}
.modal .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 300%;
}

.carousel-slide img {
  width: 33.33%;
  height: 400px;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
  background: #333;
  color: #fff;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}/*# sourceMappingURL=styles.css.map */